/* color palette from <https://github.com/vuejs/theme> */
:root {
  --tt-white-soft: #f8f8f8;
  --tt-white-mute: #f2f2f2;

  --tt-black-soft: #222222;
  --tt-black-mute: #282828;

  --tt-divider-light: rgba(60, 60, 60, 0.29);
  --tt-divider-dark: rgba(84, 84, 84, 0.65);

  /* TripTailor specific colors*/
  --tt-gray: #e8e7e7;
  --tt-light: #feecc2;
  --tt-dark: rgb(41, 29, 0);
  --tt: #f2aa02;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--tt-white);
  --color-background-soft: var(--tt-white-soft);
  --color-background-mute: var(--tt-white-mute);

  --color-border: var(--tt-divider-light-2);
  --color-border-hover: var(--tt-divider-light-1);

  --color-heading: var(--tt-text-light-1);
  --color-text: var(--tt-text-light-1);

  --section-gap: 160px;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--tt-black);
    --color-background-soft: var(--tt-black-soft);
    --color-background-mute: var(--tt-black-mute);

    --color-border: var(--tt-divider-dark-2);
    --color-border-hover: var(--tt-divider-dark-1);

    --color-heading: var(--tt-text-dark-1);
    --color-text: var(--tt-text-dark-2);
  }
}
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--tt-white-soft);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
